<%- include('includes/head.ejs',{title: "Blog"}) %> 
</head>
<body>
  <%- include('includes/header.ejs') %> 
  <section>
   <h1>You are Not signed in you must sign in to continue</h1>
  </section>
</body>
</html>