<%- include('includes/head.ejs',{title: "Blog"}) %> 
</head>
<body>
  <%- include('includes/header.ejs') %> 
  <section>
   <h1>Welcome!!!</h1>
   <h2>Please Log in To read and create posts!!</h2>
  </section>
</body>
</html>